<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
</head>
<body>

<!-- align text to center -->
<div style="text-align: center;">
<h1>Welcome to wishythewisher</h1>
<h4>Please download the repo from <a href="https://github.com/Anshumanformal/wishythewisher">here</a> and execute as per instructions.</h4>
<h3>Thanks for visiting.</h3>
<h3>Please create a Pull request, if you have any suggestions.</h3>
</body>
</html>
